* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url("christmas/pexels-toni-cuenca-695971.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
header {
    display: flex;
    width: 100%;
    min-height: 70px;
    padding: 30px 0;
    box-sizing: border-box;
    background: linear-gradient(150deg,rgba(209, 38, 38, 0.363),rgba(90, 160, 241, 0.363),rgba(0, 102, 255, 0.397),rgba(206, 45, 45, 0.377)),url("christmas/guirlande2.59db429a.png") center;

}

header nav{
    display: flex;
    width: 100%;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header nav ul li a {
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.main-content{
    width: 90vw;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    grid-gap: 30px;
}
.main-content .product-name {
    font-size: 3.4rem;
    font-weight: 300;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: row;
    padding: 20px 20px 60px;
    background-color: white;
    border-radius: 12px;
    position: relative;
    height: 80%;
}
.wrapper .change-pic {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    font-size: 1.6rem;
    border : none;
}
.wrapper .change-pic:hover {
    color: #4a98fd;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}
.wrapper .images-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 310px;
    width: 280px;
    max-width: 300px;
    overflow-x: hidden;
    scroll-behavior: smooth;
} 
.wrapper .images-container img {
    width: 270px;
    height: 300px;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 5px;
}
.wrapper .nav-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 24px;
}
.wrapper .nav-btns .nav-btn{
    width: 24px;
    height: 6px;
    border-radius: 3px;
    background-color: #dadada;
    border: none;
}

.wrapper .nav-btns .nav-btn.active{
    background-color: rgb(67, 167, 255);
}

.product-infos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 32px;
    background-color: #f3f3f3cb;
    border-radius: 12px;
    padding: 24px;
    width: 50%;
    height: 85%;
}
.product-infos h3{
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 0;
}
.product-infos p{
    font-size: 1.2rem;
    color: #333;
    margin-top: -10px;
}
.product-infos .specifications {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.product-infos .spec {
    font-size: 1.2rem;
    padding: 12px;
    background-color: rgba(33, 149, 243, 0.452);
    border-radius: 8px;
    border-left: 4px solid #0044ff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.product-infos .spec span{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}


.product-infos .spec:nth-child(1) {
    background-color: rgba(33, 149, 243, 0.1);
    border-left-color: #2196F3;
}
.product-infos .spec:nth-child(1) span {
    color: #2196F3;
}
.product-infos .spec:nth-child(2) {
    background-color: rgba(0, 173, 43, 0.1);
    border-left-color: #00ad2b;
}
.product-infos .spec:nth-child(2) span {
    color: #00ad2b;
}
.product-infos .spec:nth-child(3) {
    background-color: rgba(173, 0, 158, 0.1);
    border-left-color: #ad009e;
}
.product-infos .spec:nth-child(3) span {
    color: #ad009e;
}

.product-infos .price-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    padding: 12px;
    border: 1px solid #F3F3F3;
    background-color: #fff;
    border-bottom: 4px solid #2196F3;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

.product-infos .price-container .price .amount {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}
.product-infos .ordering{
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    min-height: 100px;
}
.product-infos .ordering .phone-contact {
    display: flex;
    width: 270px;
    justify-content : space-around;
    text-transform: lowercase;
    font-size: 18px;
}
.product-infos .ordering .msg-owner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: hsl(0,0, 95%);
    border-radius: 1px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid rgb(51, 101, 240);
    color: rgb(51, 101, 240);
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
    width: 200px;
}
.product-infos .msg-owner:hover {
    background: rgb(51, 101, 240);
    color: white;
    transition: .7s;
}
