* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("christmas/christmas-tree-gd15b6d9bb_1280.jpg");
    background-size: 100%;
}
.pseudo {
    background: url("christmas/christmas-tree-gd15b6d9bb_1280.jpg");
}
header {
    display: flex;
    width: 100%;
    min-height: 70px;
    padding: 30px 0;
    box-sizing: border-box;
    background: linear-gradient(150deg,rgba(209, 38, 38, 0.363),rgba(90, 160, 241, 0.363),rgba(0, 102, 255, 0.397),rgba(206, 45, 45, 0.377)),url("christmas/guirlande2.59db429a.png") center;

}

header nav{
    display: flex;
    width: 100%;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header nav ul li a {
    color: white;
    font-weight: 600;
    font-size: 17px;
}
.main-title {
    margin-top: 45px;
    color: rgb(255, 255, 255);
    font-size: 45px;
}
main {
    width: 93%;
    min-height: 110vh;
    display: flex;
    gap: 25px;
    margin-top: 45px;
}
.categories-section {
    height: 80vh;
    background: white;
    width: 400px;
    position: relative;
    top: -45px;
    display: none;
    z-index: 0;
    flex-direction: column;
}
.products-sections {
    width: 100%;
    margin-top: 10px;
    display: grid;
    max-width: 1300px;
    /* width: 90%; */
    height: auto;
    grid-template-columns:repeat(4, 20%);
    gap: 40px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.products-sections .product-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 260px;
    min-height: 350px;
}
.products-sections .product-card img {
    height: 200px;
}
.products-sections .product-card .about-product {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.products-sections .product-card .about-product * {
    margin-top: 10px;
}
.products-sections .product-card .about-product a {
    padding: 10px;
    border: 2px solid rgb(51, 101, 240);
    color: rgb(51, 101, 240);
}
.products-sections .product-card .about-product a:hover{
    background: rgb(51, 101, 240);
    color: white;
    font-weight: 600;
    transition: .7s;
    z-index: 3;
   
}

.socials-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 120px;
    position: fixed;
    top: 25%;
    right: 30px;
    z-index: 2;
}
.socials-sections h4 {
    font-size: 25px;
    color: white;
}
.socials-sections ul li a {
    font-size: 25px;
    background-color: white;
    color: rgba(82, 82, 253, 0.829);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px hsl(0, 0%,52%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: all 1s;
}
.socials-sections ul li a:hover{
    color: aliceblue;
    background-color : rgba(95, 95, 255, 0.616);
    box-shadow: 2px 2px 2px 1px rgb(178, 209, 255);

}